* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background-color: #e6e6e6;
}

/*
*** Layout ***
*/

#header-area {
    background-color: #f7b600;
    padding: 15px;
    text-align : center;
}

#header-logo, #menu-area {
    padding: 10px;
}

/*
*** Formatações do menu ***
*/

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #FFF;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background-color: #FFF;
    
}

/*
*** Formatações em geral ***
*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.white {
    color: white;
}
